<div class="row justify-content-start custom-line m-2"> 
    <div class="col-2 mon_form_label">Numéro</div>
    <div class="col-8">{{ form_widget(form.numero) }}</div>
</div>    
<div class="row justify-content-start custom-line m-2"> 
    <div class="col-2 mon_form_label">Nom</div> 
    <div class="col-8">{{ form_widget(form.nom) }}</div>   
</div>
<div class="row justify-content-start custom-line m-2"> 
    <div class="col-2 mon_form_label">Description</div> 
    <div class="col-8">{{ form_widget(form.description) }}</div>   
</div>  

