{% extends 'base.html.twig' %}

{% block title %}Mécanisme{% endblock %}

{% block body %}
    {{ include('mecanisme/_nav_mecanisme.html.twig') }}

    <div class="container mt-4">
        <div class="row">
            <div class="col-1"></div>

            <div class="col-10">
                <div class="card ">
                    <h3 class="card-header text-bg-danger">
                        Étes-vous certain de supprimer {{ mecanisme.nom }} ?
                    </h3>
                    <div class="card-body">
                        <div class="fst-italic">
                            Attention, toutes les variables de contrôle de ce mécanisme seront supprimées aussi !
                        </div>
                        <div class="m-2 d-flex">
                            <a href="{{ path('app_mecanisme_show', {'id': mecanisme.id}) }}" class="btn btn-success m-2">
                                Non, annuler
                            </a>    
                            {{ include('mecanisme/_delete_form.html.twig') }}
                        </div>
                    </div>        
                </div>  
            </div>

            <div class="col-1"></div>                
        </div>
    </div>
{% endblock %}
