{% extends 'base.html.twig' %}

{% block title %}Mécanisme{% endblock %}

{% block body %}
    <h2>
        Étes-vous certain de supprimer le mécanisme {{ mecanisme.nom }} ?
    </h2>
    <div class="fst-italic">
        Attention, toutes les variables de contrôle de ce mécanisme seront supprimées avec...
    </div>
    <div class="m-2 d-flex">
        <a href="{{ path('app_mecanisme_show', {'id': mecanisme.id}) }}" class="btn btn-success m-2">
            Annuler
        </a>    
        {{ include('mecanisme/_delete_form.html.twig') }}
    </div>

{% endblock %}
