{% extends 'base.html.twig' %}

{% block title %}Nouveau Mécanisme{% endblock %}

{% block body %}
    <h1>Création d'un nouveau mécanisme</h1>

    {{ form_start(form) }} 
    {{ include('mecanisme/_form.html.twig') }}

    <div>
        <div class="row justify-content-start custom-line m-2"> 
            <div class="col-2"></div> 
            <div class="col-8">
                <button class="btn btn-success">Ajouter</button>
                <a href="{{ path('app_admin_salle_show', {'id': mecanisme.salle.id}) }}" class="btn btn-danger">
                    Annuler
                </a>
            </div>   
        </div>    
    </div>   
    {{ form_end(form) }} 

{% endblock %}
