{% extends 'base.html.twig' %}

{% block title %}Nouveau Mécanisme{% endblock %}

{% block body %}
    <h1>Création d'un nouveau mécanisme</h1>

    {{ include('mecanisme/_form.html.twig') }}
{% endblock %}
