<form method="post" class="btn btn-danger mt-4" action="{{ path('app_admin_salle_delete', {'id': salle.id}) }}" onsubmit="return confirm('Etes-vous certain de supprimer cette salle ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ salle.id) }}">
    <a >
        <span class="fas fa-trash" aria-hidden="true"></span>
         Supprimer la salle
    </a>
</form>
