{% extends 'base.html.twig' %}

{% block title %}Modification de salle{% endblock %}

{% block body %}
    <h1>Modification <span class="salle">{{salle.nom}}</span></h1>

    {{ include('admin/salle/_form.html.twig', {'button_label': 'Sauvegarder'}) }}

{% endblock %}
