{% extends 'base.html.twig' %}

{% block title %}Nouvelle Salle{% endblock %}

{% block body %}
    <h1>Création d'une nouvelle salle</h1>

    {{ include('admin/salle/_form.html.twig') }}

{% endblock %}
