<a class="m-2">
    <form method="post" action="{{ path('app_variable_de_controle_delete', {'id': variable_de_controle.id}) }}" onsubmit="return true;">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ variable_de_controle.id) }}">
        <button class="btn btn-danger">
            <span class="fas fa-trash" aria-hidden="true"></span> Suppprimer
        </button>
    </form>
</a>