{% extends 'base.html.twig' %}

{% block title %}Variable de contrôle{% endblock %}

{% block body %}
    {{ include('mecanisme/_nav_mecanisme.html.twig') }}

    <div class="container mt-4">
        <div class="row">
            <div class="col-1"></div>

            <div class="col-10">
                <div class="card ">
                    <h3 class="card-header text-bg-danger">
                        Étes-vous certain de supprimer la variable de contrôle {{ variable_de_controle.nom }} ?
                    </h3>
                    <div class="card-body">
                        <div class="d-flex">
                            <a href="{{ path('app_mecanisme_show', {'id': variable_de_controle.mecanisme.id}) }}" class="btn btn-success m-2">
                                Non, annuler
                            </a>    
                            {{ include('variable_de_controle/_delete_form.html.twig') }}
                        </div>
                    </div>        
                </div>  
            </div>

            <div class="col-1"></div>                
        </div>
    </div>
{% endblock %}
