{% extends 'base.html.twig' %}

{% block title %}Nouvel utilisateur{% endblock %}

{% block body %}
    <h1>Création d'un nouvel utilisateur</h1>

    {{ include('utilisateur/_form.html.twig') }}
    
    <a href="{{ path('app_admin_utilisateur_index') }}">Liste des </a>
{% endblock %}
