<nav class="navbar navbar-expand-lg text-bg-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand text-bg-dark">Supervision</a>
    
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link text-bg-dark" href="{{ path('app_home') }}">Planning</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-bg-dark" href="{{ path('app_home') }}">Mes supervisions</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
                
